@import "../../assets/variables/variables";

.btn {
  border: 1px solid $green;
  color: $green;
  display: block;
  padding: 10px 15px;
  border-radius: 2px;
  transition: all ease 0.3s;

  &:hover {
    background: $green;
    color: #ffffff;
    transition: all ease 0.3s;
  }
}
